@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
    left:0px;

}

#sidebar {
    min-width: 275px;
    max-width: 275px;
    position:relative;
    
    height: 100%;
    background: rgb(1, 4, 14);
    color: #fff;
    transition: all 0.3s;
    margin-top: -25px !important;
    margin-left: 0px !important;
    margin-bottom: 0px !important;
    
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: 0px;
    right: 0%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    margin-left: -100px !important;
    margin-top: -100px !important;

}

#sidebar .sidebar-header {
    padding: 40px;
    background: #010208;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 2.0em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #e3edf1;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: rgb(1, 2, 5);
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #080808;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #02040e;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
}

a.download {
    background: #fff;
    color: rgb(0, 2, 7);
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/*   ###################   THIS IS FROM FORM.CSS  VVV  ###################  */
.containerReview {
  margin-top: -4.5%;
  margin-left: -130px;
  height: 60%;
  background-color: #f2f2f2;
  padding: 0px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 50%;
  height: 60%;

  filter:alpha(opacity=90);
  -moz-opacity:.90;
  opacity:.90;

  position: absolute;
  top: 38%;
  right: 15%;
  margin-left: 0%;
}



/*    THE PARTS INSIDE BREADCRUMBS FROMSEARCHBOX.CSS PART CAN BE
      USED FOR HAVING CONTAINERS NEXT TO THE SIDEBAR */
.next2sidebar{
  position: absolute;
  top: 17%;
  left: 35%;
  margin-left: 0%;
}

.searchboxsidebar{
  position: absolute;
  top: 17%;
  left: 35%;
  margin-left: 0%;
  right: 20%;
}


.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
  margin: auto;
  margin-left: 100px;
  margin-top: 50px;


}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}



@media (max-width: 800px) {
  .col-25 {
    margin-bottom: 20px;
    margin: auto;
  }
  .containerReview{
    width: 550px;
    width: 45%;
    margin: auto;
    margin-left: 20%;
    height: 60%;

    position: absolute;
    top: 30%;
    right: 15%;
    margin-left: 0%;
    }
    .row {
      flex-direction: column;
      margin: auto;
      margin-top: 50px;
    }
    .next2sidebar{
      position: absolute;
      top: 17%;
      left: 40%;
      margin-left: 0%;
    }

}

@media (max-width: 600px) {
  .containerReview{
    width: 300px;
    width: 55%;
    margin: auto;
    height: 60%;
    position: absolute;
    top: 30%;
    right: 15%;
    margin-left: 0%;
    }
    .row {
      margin: auto;
    }
    .next2sidebar{
      position: absolute;
      top: 17%;
      left: 32%;
      margin-left: 0%;
    }


  }
  /*   ###################   THIS IS FROM FORM.CSS  ^^^^  ###################  */


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 87px;
        height: 100vh;
        text-align: center;
        margin-left: 0px !important;
        margin-top: 0px !important;

    }
    .dropdown-toggle::after {
        top: 0px;
        right: 0px;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
        margin-left: -100px !important;
        margin-top: -100px !important;

    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
        margin-left: -100px !important;
        margin-top: -100px !important;



    }
    #sidebarCollapse span {
        display: none;
    }


}
