

<meta name="viewport" content="width=device-width, initial-scale=1">
body {
  font-family: Arial;
  font-size: 17px;
  padding: 0px;
  display: flex;

}


* {
  box-sizing: border-box;
}

#first {
    margin-left: -40%;
    height: 60%;

}

#second {
  width: 45%;
  margin-left: 0px;
  margin-right: -100px;

  height: 60%;

  margin-right: 0px;

}

#firstTextFields {
    width: auto;
    margin-left: 0px;
    height: 60%;



}
#secondTextFields {
  float: right;
  width: auto;
  height: 60%;


}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
  margin: auto;
  margin-left: 100px;
  margin-top: 50px;
  margin-left: 10%;



}

.col-25 {
  -ms-flex: 25%;
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%;
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.mycontainer{
  width: 120%;
  position: relative;
  left: -15%;
  height: 90%;
  margin-bottom: 30%;
  margin-top: -0%;

}

.thecontainer {
  margin-top: -4.5%;
  margin-left: -130px;
  height: 60%;
  background-color: #f2f2f2;
  padding: 0px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 70%;
  height: 60%;
  filter:alpha(opacity=90);
  -moz-opacity:.90;
  opacity:.90;

  margin-left: 5%;

  width: 55%;


}

.containerRight {
  position: relative;
  margin-top: -4.5%;

  background-color: #f2f2f2;
  padding: 0px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 65%;
  filter:alpha(opacity=90);
  -moz-opacity:.90;
  opacity:.90;
  margin-right: 100px;
  margin-left: -10px;

  margin-right: 0%;

  margin-left: 150%;

  margin-top: -87%;


}



input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 60%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  margin: 0 auto;


}

.btn:hover {
  background-color: #45a049;
  margin: 0 auto;

}

a {
  color: #2196F3;

}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}


@media (max-width: 800px) {

  #second {
    width: auto;

  }
  .col-25 {
    margin-bottom: 20px;
    margin: auto;
  }
  .thecontainer{
    width: 550px;
    width: 65%;

    margin: auto;
    margin-left: 20%;
    height: 60%;
    }

  .containerRight{
      width: 550px;
      width: 55%;
      margin: auto;
      margin-left: 17%;
      height: 60%;


    }


    .row {
      flex-direction: column;
      margin: auto;
      margin-top: 50px;

    }


}

@media (max-width: 600px) {

     #second {
       width: auto;

     }
  .thecontainer{
    width: 300px;
    width: 55%;
    margin: auto;
    height: 60%;
    }

  .containerRight{
      width: 300px;
      width: 55%;
      margin: auto;
      margin-left: 17%;
      height: 60%;
    }



    .row {
      margin: auto;
    }

}
